@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

/* universal */

body {
  background-size: cover;
  margin: 0;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.top-wrapper {
  background: #f5f1ed;
  background-size: cover;
  width: 100%;
  margin: 0;
  overflow:hidden;
  min-height: 100vh;
}

.mt {
  margin-top: 120px;
}

.flash {
  position: absolute;
  top: 60px;
  width: 100%;
  text-align: center;
}



* {
  box-sizing: border-box;
}

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

@mixin container-size {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
}



/* ヘッダー */

header {
  @include container-size;
}

.app-title {
  height: 60px;
  width: 100%;
  background-color: rgba(248,248,255,0.2);
  top: 0;
  position: fixed;
  z-index: 10;
}

navbar-brand {
  background: image-url('memoryfootprint_logo.png') no-repeat left center;
  background-size: contain;
  height: 45px;
  width: 250px;
}

.menu {
  position: absolute;
  right: 0;
}

/* ルートURL */

.top {
  background-size: cover;
  background-image: image-url('top_image.png');
  background-position: center;
  width: 100%;
  min-height: 100vh;
  position: relative;
  overflow:hidden;
  
  
  .title {
    position: relative;
    width: 70%;
    text-align: center;
    margin: 0 auto;
    display: flex;
    
    h1 {
      width: 100%;
      padding-top: 30px;
      font-size: 50px;
      font-family: fantasy;
    }

  }
  
    
  .box {
    position: relative;
    top: 185px;
    width: 100%;
    min-height: 60vh;
      
      
    .introduction {
      
      
      h2 {
        font-family: fantasy;
        text-align: right;
        font-color: #000;
        font-size: 20px;
        line-height: 3rem;
      }
    }
    
    
    .button {
      position: relative;
      top: 20px;
      width: 100%;

      float: right;  
  
    
      .up-button {
        float: right;
        margin-right: 1em;
        margin-left: 1em;
      } 
    }
    .down-button {
        position: absolute;
        right: 0;
        margin-right: 3.4em;
        top: 205px;
      }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* ユーザー一覧 */

.users {
  display: flex;
  flex-wrap: wrap;
  .userinfo {
    margin-top: 30px;
    display: inline-block ;
    position: relative;
    margin-left: 2%;
    margin-right: 2%;
    width: 42%;
    height: 120px;
    border-radius: 50px;
    border: 2px solid gray;
    .image {
      margin-top: 20px;
      margin-left: 5px;
      border: 1px solid rgb(218, 214, 214);
    }
    a {
      position: absolute;
      margin-left: 8px;
      font-size: 18px;
      top: 15px;
    }
    .user-introduction {
      position: absolute;
      margin-left: 90px;
      top: 45px;
      width: 20vw;
      height: 50px;
      color: gray;
      font-size: 12px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
    }
    .delete-user {
      display: inline-block;
      margin-left: 200px;
    }
  }
}



/* ユーザーページ */

.user-box {
  margin: 0 auto;
}

.user-image {
  text-align: center;
  margin-bottom: 35px;
  img {
    width: 200px;
    height: 200px;
  }
}

.user-follow {
  text-align: center;
  a {
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 1rem;
  }
}

.edit-or-follow {
  width: 150px;
  text-align: center;
  margin: 10px auto 10px auto;
}

.description-box {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  min-height: 100px;
  border: 2px solid;
  border-radius: 8px;
  margin-top: 20px;
  background-color: rgba(250,250,250,0.6);
  h5 {
    padding: 10px;
    line-height: 24px;
  }
}

.microposts {
  padding-right: 40px;
}

.index-box {
  margin-top: 30px;
  margin-left: 15px;
  margin-right: 15px;
  border: 2px solid;
  background-color: rgba(250,250,250,0.6);
  h3 {
    padding-top: 30px;
    margin-bottom: 30px;
    text-align: center;
  }
  .btn {
    width: 100px;
    display: block;
    margin: 0 auto;
  }
}

.tab-group{
    display: flex;
    justify-content: center;
    margin: 0 !important;
    padding: 0 !important;
}
.tab{
    flex-grow: 1;
    list-style: none;
    border: solid 2px #CCC;
    text-align: center;
    cursor: pointer;
}
.panel-group{
    border:solid 1px #CCC;
    border-top:none;
    background:#eee;
}
.panel{ 
    display:none;
}
.tab.is-active{ 
    background: #005FFF;
    color: white;
    transition: all 0.2s ease-out;
}
.panel.is-show{ 
    display:block;
}



.micropost {
  padding-left: 15px;
  margin-top: 10px;
  margin-bottom: 25px;
  padding-top: 10px;
  list-style: none;
  display: flex;
  
  .icon{
    width: 80px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .tweetbox {
    flex: 1;
    .tweetinfo {
      margin-top: 15px;
      .user {
        display: inline-block;
        margin-left: 10px;
        font-size: 1.2rem;
      }
      .timestamp {
        margin-left: 30px;
        margin-right: 20px;
        display: inline-block;
        color: gray;
      }
    }
    .content {
      display: block;
      margin: 20px 0px 15px 10px;
    }
    .tweetimage {
      margin-bottom: 15px;
    }
  }
}

.user-map {
  padding-top: 50px;
  margin-bottom: 30px;
  color: #808080;
}

.infobox {
  min-height: 80px;
  min-width: 200px;
  .infobox-name{
    background: #00BFFF;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0px 25px 0px 0px;
    .icon {
      display: inline-block;
      padding: 5px;
    }
    a{
      display: inline-block;
      padding-left: 10px;
      margin-top: 10px;
    }
  }
  .infobox-content {
    padding: 10px;
    background: #EEEEEE;
    min-height: 100px;
  }
  
}

/* プロフィール編集 */

.picture-box {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
}
.image_label {
  width: 180px;
  height: 180px;
}


.prev-contents {
  margin: 5px;
  text-align: center;
  cursor: pointer;
  .prev-image {
    width: 180px;
    height: 180px;
  }
}
.hidden_file {
  display: none;
}



/* 新規登録 */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 30px;
  @include box_sizing;
}

input {
  height: auto !important;
}

/* フォーム*/

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  .form-control {
    color: #a94442;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* 投稿画面 */

.text_field {
  min-height:300px;
}

.post_button {
  width: 200px;
  margin: 0 auto;
}

.place_field {
  p {
    margin-top: -20px;
    color: #808080;
  }
}

/* ページネーション */

.pagination {
  height: 100px;
  margin: auto;
  margin-top: 50px;
  text-align: center;
}

.pagination a {
  background-color: grey;
  text-decoration: none;
}

.pagination * {
  color: white;
  margin: 0 auto;
  text-decoration: none;
  padding: 12.5px 18.5px;
  border-radius: 25px;
  font-family: 'Nunito', sans-serif;
    .active a {
      background: #93c9ff;
    }
}

.pagination a:hover {
  background: #93c9ff;
}

/* google map */

#map {
  height: 550px;
  width: 95%;
  margin: 0 auto;
  margin-bottom: 50px;
  border: 1px solid;
}

#floating-panel {
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  max-width: 600px;
  border-radius: 12px;
    #address {
      display: inline-block;
      width: 85%;
      margin-bottom: 0 !important;
    }
    #submit {
      display: inline-block;
      width: 15%;
      margin-bottom: 0 !important;
      background: #2C7CFF;
    }
}


/* レスポンシブ */

@media (max-width:767px) {

.top{
  .box {   
  margin: 0 auto;
  width: 400px;
  top: 150px;
    .introduction {
      width: 100%;
      margin: 0 auto;
      h2 {
        text-align: center !important;
      }
    }
    .button {
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      .btn {
        width: 35%;
      }
    }
    .down-button {
      width: 50%;
      margin: 0;
      right: 25%;
      left: 25%;
    }
      
  }

}

.user-introduction {
  display: none !important;
}
}

