@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

/* universal */

$color-main: #f5f1ed;
$color-blue: #67c6e694;
$color-white: #fafafa;

body {
  background-size: cover;
  margin: 0;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.top-wrapper {
  background: $color-main;
  background-size: cover;
  width: 100%;
  margin: 0;
  min-height: calc(100vh - 44px);
}

.mt {
  margin-top: 120px;
}

.flash {
  position: absolute;
  top: 60px;
  width: 100%;
  text-align: center;
}

.border {
  border: 1px solid;
}

.pagetitle {
  width: 400px;
  text-align: center;
  padding: 10px 15px;
  display: inline-block;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
}
h1 {
  color: rgb(107, 107, 107);
}


* {
  box-sizing: border-box;
}

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

@mixin container-size {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
}



/* ヘッダー */

header {
  @include container-size;
}

.app-title {
  height: 60px;
  width: 100%;
  background: rgba(248,248,255,0.2);
  top: 0;
  position: fixed;
  z-index: 10;
}

navbar-brand {
  background: image-url('memoryfootprint_logo.png') no-repeat left center;
  background-size: contain;
  height: 45px;
  width: 250px;
}

.inner {
  position: absolute;
  right: 0;
  top: 15px;
}

.nav-item {
  padding-right: 10px;
}

li.menu_single {
  position: relative;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  margin: auto;
  a {
    padding-left: 5px;
    color: rgba(0, 0, 0, 0.5);
  }
}
li.menu_single ul.menu_second-level {
  list-style: none;
  position: absolute;
  width: 150px;
  top: 40px;
  left: -30px;
  box-sizing: border-box;
  padding: 10px 5px;
  background: #072A24;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  visibility: hidden;
  a {
    color: $color-white !important;
  }
}

li.menu_single:hover ul.menu_second-level {
  top: 45px;
  visibility: visible;
  opacity: 1;
}

/* フッター */

footer {
  padding: 10px;
  background: black;
  text-align: center;
}

small {
  color: $color-white;
}
/* ルートURL */

.top {
  background-size: cover;
  background-image: image-url('top_image.png');
  background-position: center;
  width: 100%;
  min-height: calc(100vh - 44px);
  position: relative;
  overflow:hidden;
  
  
  .title {
    position: relative;
    width: 70%;
    text-align: center;
    margin: 0 auto;
    display: flex;
    
    h1 {
      width: 100%;
      padding-top: 30px;
      font-size: 50px;
      font-family: fantasy;
    }

  }
  
    
  .box {
    position: relative;
    margin-top: 8rem;
    width: 100%;
      
      
    .introduction {
      
      
      h2 {
        text-align: right;
        color: #000;
        font-size: 20px;
        line-height: 3rem;
        font-family: fantasy;
      }
    }
    
    
    .button {
      position: absolute;
      top: 110px;
      width: 100%;

      float: right;  
      
    
      .up-button {
        float: right;
        margin-right: 1em;
        margin-left: 1em;
        box-shadow: 2px 2px 2px rgba(0,0,0,0.4);
      } 
      .btn-outline-dark{
        a{
          color: darkslategray !important;
        }
      }
    }
    .down-button {
        position: absolute;
        right: 0;
        margin-right: 3.4em;
        top: 170px;
        background: rgba(240, 238, 123, 0.6);
        box-shadow: 2px 2px 2px rgba(0,0,0,0.4);
        a {
          color: darkslategray !important;
        }
      }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* ユーザー一覧 */

.users {
  display: flex;
  flex-wrap: wrap;
  .userinfo {
    margin-top: 30px;
    display: inline-block ;
    position: relative;
    margin-left: 2%;
    margin-right: 2%;
    width: 46%;
    height: 120px;
    border-radius: 50px;
    border: 2px solid gray;
    background: $color-white;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
    .image {
      margin-top: 20px;
      margin-left: 5px;
      border: 1px solid rgb(218, 214, 214);
    }
    a {
      position: absolute;
      margin-left: 8px;
      font-size: 18px;
      top: 15px;
    }
    .user-introduction {
      position: absolute;
      margin-left: 90px;
      top: 45px;
      width: 20vw;
      height: 50px;
      color: gray;
      font-size: 12px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
    }
  }
}



/* ユーザーページ */

.user-box {
  width: 70%;
  position: relative;
  margin: 0 auto;
  padding-top: 50px;
  margin-bottom: 65px;
  background: $color-white;
  border-radius: 30px;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
  .user-info {
    text-align: center;
    height: 200px;
    img {
      max-width: 200px;
      max-height: 200px;

      
    }
  }
  .user-info-right {
    .name {
      padding-top: 15px;
      font-size: 20px;
      font-weight: bold;
    }
  }
  .delete-user {
    display: inline-block;
    position: absolute;
    right: 20px;
    padding: 5px;
    border: 2px solid;
  }
}
.description-box {
  background: #fde7d1;
  margin-left: auto;
  margin-right: auto;
  min-height: 100px;
  margin-top: 20px;
  padding: 15px;
  border-radius: 15px;
}


.user-follow {
  display: inline-block;
  text-align: center;
  a {
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 1rem;
  }
}

.edit-or-follow {
  width: 150px;
  text-align: center;
  margin: 10px auto 30px auto;
}


.microposts {
  padding-right: 40px;
}
.microposts-index {
  margin-bottom: 40px;
}

.index-box {
  margin-top: 30px;
  margin-left: 15px;
  margin-right: 15px;
  h3 {
    padding-top: 30px;
    margin-bottom: 30px;
    text-align: center;
  }
  .btn {
    width: 100px;
    display: block;
    margin: 0 auto;
  }
}

.tab-group{
    display: flex;
    justify-content: center;
    margin: 0 !important;
    padding: 0 !important;
    width: 40%;
}
.tab{
    color: gray;
    flex-grow: 1;
    list-style: none;
    text-align: center;
    border-bottom: 1px solid darkgray;
    cursor: pointer;
}
.panel{ 
    display:none;
}
.tab.is-active{ 
    color: black !important;
    border: 1px solid darkgray;
    border-bottom: none !important;
    transition: all 0.2s ease-out;
}
.panel.is-show{ 
    display:block;
    min-height: 50vh;
    margin-bottom: 40px;
}



.micropost {
  padding-left: 15px;
  margin-top: 10px;
  margin-bottom: 25px;
  padding-top: 10px;
  list-style: none;
  display: flex;
  
  .icon{
    width: 80px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .tweetbox {
    flex: 1;
    width: calc(100% - 85px);
    margin-right: 5px;
    .tweetinfo {
      margin-top: 15px;
      .user {
        display: inline-block;
        margin-left: 10px;
        font-size: 1.2rem;
      }
      .timestamp {
        margin-left: 30px;
        margin-right: 20px;
        display: inline-block;
        color: gray;
      }
    }
    
    .content {
      display: block;
      margin: 20px 0px 15px 10px;
      word-wrap: break-word;
    }
    .tweetimage {
      margin-top: 15px;
      margin-bottom: 15px;
    }
    .like {
      width: 70px;
      background: lightpink;
      border-radius: 20px;
      button {
        width: 70px !important;
        border-radius: 20px;
      }
    }
  }
}
.post {
  background: $color-white;
  border: 1px solid gray;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
  margin-top: 20px;
  width: 100%;
}
.tag {
  display: inline-block;
  margin-top: 10px;
  margin-left: 8px;
  padding: 5px;
  border-radius: 15px;
  background: $color-blue;
  span {
    color: #fde7d1;
  }
}

.user-map {
  padding-top: 50px;
  margin-bottom: 30px;
  color: #808080;
}

/* 投稿一覧 */

.rank {
  background: gold;
  font-size: 30px;
  margin-bottom: 50px;
}
.like-ranking {
  width: 300px;
  background: gold;
  border-radius: 10px;
  padding: 5px 10px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.29);
  a {
    color: black !important;
  }
}

.ranking {
  margin-top: 30px;
  text-align: center;
  font-size: 2rem;
}
.mt40 {
  margin-top: 40px !important;
}
/* プロフィール編集 */

.picture-box {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
}
.image_label {
  width: 180px;
  height: 180px;
}


.prev-contents {
  margin: 5px;
  text-align: center;
  cursor: pointer;
  .prev-image {
    width: 180px;
    height: 180px;
  }
}
.hidden_file {
  display: none;
}

.limit {
  color: red;
  text-align: center;
  margin-bottom: 20px;
}

/* 新規登録 */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 30px;
  @include box_sizing;
}

input {
  height: auto !important;
}

/* フォーム*/

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  .form-control {
    color: #a94442;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* 投稿画面 */

.micropost_form {
  border: 5px solid #ebec9d;
}

.posting {
  margin-bottom: 20px;
  padding: 15px;
  background: #ebec9d;
}

.text_field {
  min-height:300px;
}

.post_button {
  width: 200px;
  margin: 0 auto;
}

.place_field {
  p {
    margin-top: -20px;
    color: #808080;
  }
  .picture {
    margin-top: 50px;
  }
}

/* ページネーション */

.pagination {
  height: 100px;
  margin: auto;
  margin-top: 50px;
  text-align: center;
}

.pagination a {
  background-color: grey;
  text-decoration: none;
}

.pagination * {
  color: $color-white;
  margin: 0 auto;
  text-decoration: none;
  padding: 12.5px 18.5px;
  border-radius: 25px;
  font-family: 'Nunito', sans-serif;
    .active a {
      background: #93c9ff;
    }
}

.pagination a:hover {
  background: #93c9ff;
}

/* フォロー・フォロワー一覧 */

.user_info {
  position: -webkit-sticky;
  position: sticky;
  top: 50px;
  
  .user_info_right {
    margin-top: 20px;
    margin-left: 35px;
    display: inline-block;
    .name {
      font-size: 25px;
      font-weight: bold;
    }
    
  }
}
.balloon{
  margin-top: 30px;
  margin-bottom: 60px;
  position: relative;
  background: #fde7d1;
  padding: 15px;
}
.balloon::before{
  content: '';
  position: absolute;
  left: 30px;
  top: -15px;
  display: block;
  width: 0;
  height: 0;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #fde7d1;
  border-left: 20px solid transparent;
}

.following_followers {
  display: inline-block;
  width: 100%;
  min-height: 70vh;
  margin-bottom: 40px;
  background: $color-blue;
  .follow_title {
    color: $color-main;
    border: 1px solid $color-main;
    h2 {
      padding: 10px 0px;
      margin: 0px !important;
    }
  }
  .userinfo {
    width: 90% !important;
    background: $color-main;
  }
}

/* google map */

#map {
  height: 550px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 50px;
  border: 1px solid;
}
.map-box {
  h1 {
    margin-top: 80px;
    float: left !important;
    position: relative;
    background: #f4f4f4;
    padding: 2px 5px 2px 65px;
    font-size: 20px;
    color: #474747;
    border-radius: 0 10px 10px 0;
    &:before {
      font-family: "Font Awesome 5 Free";
      content: "\f041";
      display: inline-block;
      line-height: 40px;
      position: absolute;
      padding: 0em;
      color: white;
      background: #ff6363;
      font-weight: 900;
      width: 40px;
      text-align: center;
      height: 40px;
      line-height: 40px;
      left: 1em;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      border-radius: 50%;
      box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.29);
    }
  }
  
  
}
.map-index {
  margin-top: 60px !important;
  margin-bottom: 0px !important;
  height: 90vh !important;

}

.infobox {
  min-height: 80px;
  min-width: 200px;
  .infobox-user {
    height: 50px;
    border-radius: 20px;
    background: $color-main;
    a {
      margin: 0 auto;
      margin-left: 15px;
      font-size: 20px;
      font-weight: bold;
      color: black;
    }
  }
  .infobox-content {
    padding: 10px;
    min-height: 100px;
  }
  
}

#floating-panel {
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  max-width: 600px;
  border-radius: 12px;
    #address {
      display: inline-block;
      width: 85%;
      margin-bottom: 0 !important;
    }
    #submit {
      display: inline-block;
      width: 15%;
      margin-bottom: 0 !important;
      background: #2C7CFF;
    }
}


/* レスポンシブ */

@media (max-width:767px) {
  .navbar-nav {
    flex-direction: column !important;
  }
  nav {
    display: block;
    position: fixed;
    top: 0;
    left: -300px;
    bottom: 0;
    width: 300px;
    background: #ffffff;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    transition: all .5s;
    z-index: 3;
    opacity: 0;
  }
  .open nav {
    left: 0;
    opacity: 1;
  }
  nav .inner {
    width: 100%;
    padding: 25px;
  }
  nav .inner ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  nav .inner ul li {
    position: relative;
    margin: 0;
    border-bottom: 1px solid #333;
  }
  nav .inner ul li a {
    display: block;
    color: #333;
    font-size: 14px;
    padding: 1em;
    text-decoration: none;
    transition-duration: 0.2s;
  }
  .init-bottom {
    display: inline-block !important;
  }
  nav .inner ul li a:hover {
    background: #e4e4e4;
  }
  .toggle_btn {
    display: block;
    position: fixed;
    top: 15px;
    right: 30px;
    width: 30px;
    height: 30px;
    transition: all .5s;
    cursor: pointer;
    z-index: 3;
  }
  .toggle_btn span {
    display: block;
    position: absolute;
    left: 0;
    width: 30px;
    height: 2px;
    background-color: #333;
    border-radius: 4px;
    transition: all .5s;
  }
  .toggle_btn span:nth-child(1) {
    top: 4px;
  }
  .toggle_btn span:nth-child(2) {
    top: 14px;
  }
  .toggle_btn span:nth-child(3) {
    bottom: 4px;
  }
  .open .toggle_btn span {
    background-color: #fff;
  }
  .open .toggle_btn span:nth-child(1) {
    -webkit-transform: translateY(10px) rotate(-315deg);
    transform: translateY(10px) rotate(-315deg);
  }
  .open .toggle_btn span:nth-child(2) {
    opacity: 0;
  }
  .open .toggle_btn span:nth-child(3) {
    -webkit-transform: translateY(-10px) rotate(315deg);
    transform: translateY(-10px) rotate(315deg);
  }
  #mask {
    display: none;
    transition: all .5s;
  }
  .open #mask {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .8;
    z-index: 2;
    cursor: pointer;
  }
  li.menu_single:hover ul.menu_second-level {
    visibility: hidden;
  }

  .top{
    .box {   
    margin: 0 auto;
    width: 400px;
    top: 100px;
      .introduction {
        width: 100%;
        margin: 0 auto;
        h2 {
          text-align: center !important;
        }
      }
      .button {
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        .btn {
          width: 35%;
        }
      }
      .down-button {
        width: 50%;
        margin: 0;
        right: 25%;
        left: 25%;
      }
        
    }

  }
  .mt {
    max-width: 100% !important;
  }
  .tweetbox {
    
    .content {
      max-width: 100%;
    }
    img {
      max-width: 100%;
      height: auto;
    }
  }
  .tab-group {
    width: 100%;
  }
  .icon{
    width: 60px !important;
    text-align: center;
    img {
      width: 50px;
      height: auto;
    }
  }
  .tweetbox {
    flex: 1;
    width: calc(100% - 65px);
  }
  .user-introduction {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .col-md-6 {
      flex: 0 0 50%;
      max-width: 50%;
  }
}
